.board {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

.board1{
    background-image: url('../asset/board1.png');
}

.board2{
    background-image: url('../asset/board2.png');
}

.carousel-inner {
    height: 100%;
    width: 100%;
}