.board-11 {
  transform: translate(0%, 700%);
}

.board-12 {
  transform: translate(0%, 600%);
}

.board-13 {
  transform: translate(0%, 500%);
}

.board-14 {
  transform: translate(0%, 400%);
}

.board-15 {
  transform: translate(0%, 300%);
}

.board-16 {
  transform: translate(0%, 200%);
}

.board-17 {
  transform: translate(0%, 100%);
}

.board-18 {
  transform: translate(0%, 0%);
}

.board-21 {
  transform: translate(100%, 700%);
}

.board-22 {
  transform: translate(100%, 600%);
}

.board-23 {
  transform: translate(100%, 500%);
}

.board-24 {
  transform: translate(100%, 400%);
}

.board-25 {
  transform: translate(100%, 300%);
}

.board-26 {
  transform: translate(100%, 200%);
}

.board-27 {
  transform: translate(100%, 100%);
}

.board-28 {
  transform: translate(100%, 0%);
}

.board-31 {
  transform: translate(200%, 700%);
}

.board-32 {
  transform: translate(200%, 600%);
}

.board-33 {
  transform: translate(200%, 500%);
}

.board-34 {
  transform: translate(200%, 400%);
}

.board-35 {
  transform: translate(200%, 300%);
}

.board-36 {
  transform: translate(200%, 200%);
}

.board-37 {
  transform: translate(200%, 100%);
}

.board-38 {
  transform: translate(200%, 0%);
}

.board-41 {
  transform: translate(300%, 700%);
}

.board-42 {
  transform: translate(300%, 600%);
}

.board-43 {
  transform: translate(300%, 500%);
}

.board-44 {
  transform: translate(300%, 400%);
}

.board-45 {
  transform: translate(300%, 300%);
}

.board-46 {
  transform: translate(300%, 200%);
}

.board-47 {
  transform: translate(300%, 100%);
}

.board-48 {
  transform: translate(300%, 0%);
}

.board-51 {
  transform: translate(400%, 700%);
}

.board-52 {
  transform: translate(400%, 600%);
}

.board-53 {
  transform: translate(400%, 500%);
}

.board-54 {
  transform: translate(400%, 400%);
}

.board-55 {
  transform: translate(400%, 300%);
}

.board-56 {
  transform: translate(400%, 200%);
}

.board-57 {
  transform: translate(400%, 100%);
}

.board-58 {
  transform: translate(400%, 0%);
}

.board-61 {
  transform: translate(500%, 700%);
}

.board-62 {
  transform: translate(500%, 600%);
}

.board-63 {
  transform: translate(500%, 500%);
}

.board-64 {
  transform: translate(500%, 400%);
}

.board-65 {
  transform: translate(500%, 300%);
}

.board-66 {
  transform: translate(500%, 200%);
}

.board-67 {
  transform: translate(500%, 100%);
}

.board-68 {
  transform: translate(500%, 0%);
}

.board-71 {
  transform: translate(600%, 700%);
}

.board-72 {
  transform: translate(600%, 600%);
}

.board-73 {
  transform: translate(600%, 500%);
}

.board-74 {
  transform: translate(600%, 400%);
}

.board-75 {
  transform: translate(600%, 300%);
}

.board-76 {
  transform: translate(600%, 200%);
}

.board-77 {
  transform: translate(600%, 100%);
}

.board-78 {
  transform: translate(600%, 0%);
}

.board-81 {
  transform: translate(700%, 700%);
}

.board-82 {
  transform: translate(700%, 600%);
}

.board-83 {
  transform: translate(700%, 500%);
}

.board-84 {
  transform: translate(700%, 400%);
}

.board-85 {
  transform: translate(700%, 300%);
}

.board-86 {
  transform: translate(700%, 200%);
}

.board-87 {
  transform: translate(700%, 100%);
}

.board-88 {
  transform: translate(700%, 0%);
}

/*# sourceMappingURL=boardPosition.css.map */
